/configs/.env
/configs/config.yaml

config.yaml
.env

notes/
data/
redis.conf

docker-compose.yaml

.netrc

logs
*.log

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
